<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Member Details</title>
  <link rel="stylesheet" href="./css/memberdetails.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
	<div class="main">
		<div class="container" id="container">
			<h1>
				Member Details
			</h1><hr id="hr">
			<div class="content">
				<div id = "memname" class="memdetails">
					Member Name : Raju prasad yadav
				</div>
				<div class="memdetails" id="memage">
					Age : 40
				</div>
				<div class="memdetails" id="memroom">
					Room NO. : 204
				</div>
				<div class="memdetails" id="memwing">
					Wing : C
				</div>
				<div class="memdetails" id="memmobile">
				    Mobile NO. : 9676732290
				</div>
			</div>
		</div>
     </div>
  </body>
</html>