.container{
    background-color: #fff;
	margin: 20px 0px;
}
  
.content {	
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#fff;
}

.main{
	background-color:#fff;
 	border: 2px solid black;
	height: 100vh;
}

#deleteText{
    display: flex;
	justify-content: center;
	align-items: center;
}

.input-group{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 30%;	
	margin-bottom: 20px;
}

.input-labels{
	font-size: 20px;
	margin: 20px 10px 20px 10px;
}

#spantext{
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0;
}

#labelemail{
	margin: 18px 0;
}

.btns{
    background-color: white;
	border: 2px solid #860000;
	color: #860000;
	height: 40px;
	width: 150px;
	border-radius: 6px;
	margin: 40px 0;
}

.btns:hover{
	color: white;
	background-color: #860000;
	border-radius: 6px;
}

.form-control{
	height: 40px;
	margin-top: 10px;
}


p{
    color: #860000;
	margin: 0 0 0 100px;
}