.main{
	background-color: rgb(41, 41, 41);
	height: 100vh;
}

.memdetails{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	margin: 20px 0 20px 295px;
	border: 2px solid rgb(5, 117, 48);
	max-width: 50%;
	border-radius: 45px;
	color: white;
}

h1{
    display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

#hr{
	color: white;
}
